<style>
	a:hover {
		background: none;
	}
	
	.images {
		margin-bottom: 50px;
	}
	
	div.span3 {
		background: white;
		border: 1px solid #eee;
		border-radius: 5px;
		padding: 30px;
	}
	
	.images img {
		height: 100px;
	}
</style>

<h2>Enterprise IP Telephony</h2>

<div class="row images">
	<div class="span3 pagination-centered">
		<%= link_to (image_tag "/img/products/enterprise_ip_telephony/gxp2130_left.png", alt: "GXP-2130"), action: "index", filter: "gxp2130" %>
		<h5>GXP-2130</h5>
	</div>
	<div class="span3 pagination-centered">
		<%= link_to (image_tag "/img/products/enterprise_ip_telephony/gxp2140_front.jpg", alt: "GXP-2140"), action: "index", filter: "gxp2140" %>
		<h5>GXP-2140</h5>
	</div>
	<div class="span3 pagination-centered">
		<%= link_to (image_tag "/img/products/enterprise_ip_telephony/gxp2160front.png", alt: "GXP-2160"), action: "index", filter: "gxp2160" %>
		<h5>GXP-2160</h5>
	</div>
	
</div>

<div class="row images">
	
	<div class="span3 pagination-centered">
		<%= link_to (image_tag "/img/products/enterprise_ip_telephony/gxp2200_slider.jpg", alt: "GXP-2200"), action: "index", filter: "gxp2200" %>
		<h5>GXP-2200</h5>
	</div>
	<div class="span3 pagination-centered">
		<%= link_to (image_tag "/img/products/enterprise_ip_telephony/gxp2124_slider.png", alt: "GXP-2124v2"), action: "index", filter: "gxp2124" %>
		<h5>GXP-2124v2</h5>
	</div>
	<div class="span3 pagination-centered">
		<%= link_to (image_tag "/img/products/enterprise_ip_telephony/gxp2120_slider.png", alt: "GXP-2120"), action: "index", filter: "gxp2120" %>
		<h5>GXP-2120</h5>
	</div>
	
</div>

<div class="row images">
	
	<div class="span3 pagination-centered">
		<%= link_to (image_tag "/img/products/enterprise_ip_telephony/gxp2110_slider.png", alt: "GXP-2110"), action: "index", filter: "gxp2110" %>
		<h5>GXP-2110</h5>
	</div>
	<div class="span3 pagination-centered">
		<%= link_to (image_tag "/img/products/enterprise_ip_telephony/gxp2100_slider.png", alt: "GXP-2124v2"), action: "index", filter: "gxp2100" %>
		<h5>GXP-2100</h5>
	</div>
	<div class="span3 pagination-centered">
		<%= link_to (image_tag "/img/products/enterprise_ip_telephony/gxp1450_slider.png", alt: "GXP-1450"), action: "index", filter: "gxp1450" %>
		<h5>GXP-1450</h5>
	</div>
	
</div>

<div class="row images">
	
	<div class="span3 pagination-centered">
		<%= link_to (image_tag "/img/products/enterprise_ip_telephony/gxp1400_slider.png", alt: "GXP-1400/1405"), action: "index", filter: "gxp1400" %>
		<h5>GXP-1400/1405</h5>
	</div>
	<div class="span3 pagination-centered">
		<%= link_to (image_tag "/img/products/enterprise_ip_telephony/gxp116x_slider.png", alt: "GXP-1160/1165"), action: "index", filter: "gxp1160" %>
		<h5>GXP-1160/1165</h5>
	</div>
	<div class="span3 pagination-centered">
		<%= link_to (image_tag "/img/products/enterprise_ip_telephony/gxp1100_slider.png", alt: "GXP-1100/1105"), action: "index", filter: "gxp1100" %>
		<h5>GXP-1100/1105</h5>
	</div>
	
</div>

<div class="row images">
	
	<div class="span3 pagination-centered">
		<%= link_to (image_tag "/img/products/enterprise_ip_telephony/dp71x_slider.png", alt: "DP-715-710"), action: "index", filter: "dp715" %>
		<h5>DP-715/710</h5>
	</div>
</div>