<style>
	a:hover {
		background: none;
	}
	
	.images {
		margin-bottom: 50px;
	}
	
	div.span3 {
		background: white;
		border: 1px solid #eee;
		border-radius: 5px;
		padding: 30px;
	}
	
	.images img {
		height: 100px;
	}
</style>

<h2>IP Video Surveillance</h2>

<div class="row images">
	<div class="span3 pagination-centered">
		<%= link_to (image_tag "/img/products/ip_video_surveillance/gxv3651_single.png", alt: "GXV-3651"), action: "index", filter: "gxv3651" %>
		<h5>GXV-3651 FHD</h5>
	</div>
	<div class="span3 pagination-centered">
		<%= link_to (image_tag "/img/products/ip_video_surveillance/gxv3662_single_1.png", alt: "GXV-3662"), action: "index", filter: "gxv3662" %>
		<h5>GXV-3662 HD</h5>
	</div>
	<div class="span3 pagination-centered">
		<%= link_to (image_tag "/img/products/ip_video_surveillance/gxv3615wp_hd_slider.png", alt: "GXV-3615"), action: "index", filter: "gxv3615" %>
		<h5>GXV-3615 HD/WPHD</h5>
	</div>
</div>

<div class="row images">
	<div class="span3 pagination-centered">
		<%= link_to (image_tag "/img/products/ip_video_surveillance/gxv3601hd_3.png", alt: "GXV-3601"), action: "index", filter: "gxv3601" %>
		<h5>GXV-3601 HD/LL</h5>
	</div>
	<div class="span3 pagination-centered">
		<%= link_to (image_tag "/img/products/ip_video_surveillance/gxv3611_single_2.png", alt: "GXV-3611"), action: "index", filter: "gxv3611" %>
		<h5>GXV-3611 HD/LL</h5>
	</div>
	<div class="span3 pagination-centered">
		<%= link_to (image_tag "/img/products/ip_video_surveillance/gxv350x_single_1.png", alt: "GXV-3504"), action: "index", filter: "gxv3504" %>
		<h5>GXV-3504</h5>
	</div>
</div>

<div class="row images">
	<div class="span3 pagination-centered">
		<%= link_to (image_tag "/img/products/ip_video_surveillance/gxv3500_single_1.png", alt: "GXV-3500"), action: "index", filter: "gxv3500" %>
		<h5>GXV-3500</h5>
	</div>
	<div class="span3 pagination-centered">
		<%= link_to (image_tag "/img/products/ip_video_surveillance/gxv3672_single.png", alt: "GXV-3672"), action: "index", filter: "gxv3672" %>
		<h5>GXV-3672 FHD</h5>
	</div>
	<div class="span3 pagination-centered">
		<%= link_to (image_tag "/img/products/ip_video_surveillance/gxv3610_single.png", alt: "GXV-3610"), action: "index", filter: "gxv3610" %>
		<h5>GXV-3610</h5>
	</div>
</div>
<div class="row images">
	<div class="span3 pagination-centered">
		<%= link_to (image_tag "/img/products/ip_video_surveillance/GXV3674-rightside1.jpg", alt: "GXV-3674"), action: "index", filter: "gxv3674" %>
		<h5>GXV-3674</h5>
	</div>
	
</div>